#theme-toggle {
  cursor: pointer;
  padding: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  position: relative;
}
#theme-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}
/* Tooltip styles */
#theme-toggle[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -35px; /* Position the tooltip below the button */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

/* Show tooltip on hover */
#theme-toggle:hover[data-tooltip]::after {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-5px); /* Slightly move up for animation */
}

.spin {
  animation: spin 0.5s ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
